################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter03/Complete/.vs
/Chapter03/Complete/MyMediaCollection/bin
/Chapter03/Complete/MyMediaCollection/obj
/Chapter05/Complete/.vs
/Chapter05/Complete/MyMediaCollection/bin
/Chapter05/Complete/MyMediaCollection/obj
/Chapter04/Start/.vs
/Chapter04/Start/MyMediaCollection/bin
/Chapter04/Start/MyMediaCollection/obj
/Chapter04/Complete/MyMediaCollection/bin
/Chapter04/Complete/MyMediaCollection/obj
/Chapter04/Complete/.vs
/Chapter05/Start/MyMediaCollection/bin
/Chapter05/Start/.vs
/Chapter05/Start/MyMediaCollection/obj
/Chapter06/Start/.vs
/Chapter06/Start/MyMediaCollection/bin
/Chapter06/Start/MyMediaCollection/obj
/Chapter06/Complete/MyMediaCollection/bin
/Chapter06/Complete/MyMediaCollection/obj
/Chapter06/Complete/.vs
/Chapter07/Start/.vs
/Chapter07/Start/MyMediaCollection/bin
/Chapter07/Start/MyMediaCollection/obj
/Chapter07/Complete/MyMediaCollection/bin
/Chapter07/Complete/MyMediaCollection/obj
/Chapter07/Complete/.vs
/Chapter13/Start/.vs
/Chapter13/Start/MyMediaCollection/bin
/Chapter13/Start/MyMediaCollection/obj
/Chapter13/Complete/MyMediaCollection/bin
/Chapter13/Complete/MyMediaCollection/obj
/Chapter13/Complete/.vs
/Chapter14/MyMediaCollection/MyMediaCollection/bin
/Chapter14/MyMediaCollection/MyMediaCollection/obj
/Chapter14/MyMediaCollection/.vs
/Chapter12/Start/BlazorTasksHost/.vs
/Chapter12/Start/BlazorTasksHost/BlazorTasksHost/bin
/Chapter12/Start/BlazorTasksHost/BlazorTasksHost/obj
/Chapter12/Complete/BlazorTasksHost/BlazorTasksHost/bin
/Chapter12/Complete/BlazorTasksHost/BlazorTasksHost/obj
/Chapter12/Complete/BlazorTasksHost/.vs
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser/obj
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser (Package)/obj
/Chapter08/WebViewBrowser/WebViewBrowser.Bus/obj
/Chapter08/WebViewBrowser/WebViewBrowser.WPF/obj
/Chapter08/WebViewBrowser/WebViewBrowser.Controls/obj
/Chapter08/WebViewBrowser/.vs
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser/bin
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser (Package)/bin
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser (Package)/WebViewBrowser (Package).wapproj.user
/Chapter08/WebViewBrowser/WebViewBrowser.Bus/bin
/Chapter08/WebViewBrowser/WebViewBrowser.Controls/bin
/Chapter08/WebViewBrowser/WebViewBrowser.WPF/bin
/Chapter09/Start/HardwareSupplies/HardwareSupplies/bin
/Chapter09/Start/HardwareSupplies/HardwareSupplies/obj
/Chapter09/Start/HardwareSupplies/HardwareSupplies (Package)/bin
/Chapter09/Start/HardwareSupplies/HardwareSupplies (Package)/obj
/Chapter09/Start/HardwareSupplies/HardwareSupplies (Package)/HardwareSupplies (Package).wapproj.user
/Chapter09/Start/.vs/Ch09a-Start-HardwareSupplies/v16/.suo
/Chapter09/Complete/.vs/Ch09b-Complete-HardwareSupplies/v16/.suo
/Chapter09/Complete/HardwareSupplies/HardwareSupplies/bin
/Chapter09/Complete/HardwareSupplies/HardwareSupplies/obj
/Chapter09/Complete/HardwareSupplies/HardwareSupplies (Package)/bin
/Chapter09/Complete/HardwareSupplies/HardwareSupplies (Package)/obj
/Chapter09/Complete/HardwareSupplies/HardwareSupplies (Package)/HardwareSupplies (Package).wapproj.user
/Chapter09/Start/.vs/Ch09a-Start-HardwareSupplies/DesignTimeBuild/.dtbcache.v2
/Chapter10/XamlIslandsSample/.vs/Ch10-XamlIslandsSample/v16/.suo
/Chapter10/XamlIslandsSample/packages
/Chapter10/XamlIslandsSample/XamlIslandsSample.UwpApp/bin
/Chapter10/XamlIslandsSample/XamlIslandsSample.UwpApp/obj
/Chapter10/XamlIslandsSample/XamlIslandsSample.WinFormsBrowser/bin
/Chapter10/XamlIslandsSample/XamlIslandsSample.WinFormsBrowser/obj
/Chapter10/XamlIslandsSample/XamlIslandsSample.WinFormsCore/obj
/Chapter10/XamlIslandsSample/XamlIslandsSample.WpfCore/obj
/Chapter10/XamlIslandsSample/XamlIslandsSample.WpfMaps/bin
/Chapter10/XamlIslandsSample/XamlIslandsSample.WpfMaps/obj
/Chapter10/XamlIslandsSample/XamlIslandsSample.WinFormsCore/XamlIslandsSample.WinFormsCore.csproj.user
/Chapter09/Complete/.vs/Ch09b-Complete-HardwareSupplies/DesignTimeBuild/.dtbcache.v2
/Chapter10/XamlIslandsSample/.vs/Ch10-XamlIslandsSample/DesignTimeBuild/.dtbcache.v2
/Chapter10/XamlIslandsSample/XamlIslandsSample.WpfCore/bin
/Chapter10/XamlIslandsSample/XamlIslandsSample.WinFormsCore/bin
