################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter03/Complete/.vs/Ch03b-Complete-MyMediaCollection/v16
/Chapter03/Complete/MyMediaCollection/obj/x64/Debug
/Chapter03/Complete/MyMediaCollection.Test/obj/x64/Debug
/Chapter05/Complete/.vs/Ch05b-Complete-MyMediaCollection/v16
/Chapter05/Complete/MyMediaCollection/bin/x64/Debug
/Chapter05/Complete/MyMediaCollection/obj
/Chapter05/Complete/MyMediaCollection.Test/obj
