################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chapter03/Complete/.vs
/Chapter03/Complete/MyMediaCollection/bin
/Chapter03/Complete/MyMediaCollection/obj
/Chapter05/Complete/.vs
/Chapter05/Complete/MyMediaCollection/bin
/Chapter05/Complete/MyMediaCollection/obj
/Chapter04/Start/.vs
/Chapter04/Start/MyMediaCollection/bin
/Chapter04/Start/MyMediaCollection/obj
/Chapter04/Complete/MyMediaCollection/bin
/Chapter04/Complete/MyMediaCollection/obj
/Chapter04/Complete/.vs
/Chapter05/Start/MyMediaCollection/bin
/Chapter05/Start/.vs
/Chapter05/Start/MyMediaCollection/obj
/Chapter06/Start/.vs
/Chapter06/Start/MyMediaCollection/bin
/Chapter06/Start/MyMediaCollection/obj
/Chapter06/Complete/MyMediaCollection/bin
/Chapter06/Complete/MyMediaCollection/obj
/Chapter06/Complete/.vs
/Chapter07/Start/.vs
/Chapter07/Start/MyMediaCollection/bin
/Chapter07/Start/MyMediaCollection/obj
/Chapter07/Complete/MyMediaCollection/bin
/Chapter07/Complete/MyMediaCollection/obj
/Chapter07/Complete/.vs
/Chapter13/Start/.vs
/Chapter13/Start/MyMediaCollection/bin
/Chapter13/Start/MyMediaCollection/obj
/Chapter13/Complete/MyMediaCollection/bin
/Chapter13/Complete/MyMediaCollection/obj
/Chapter13/Complete/.vs
/Chapter14/MyMediaCollection/MyMediaCollection/bin
/Chapter14/MyMediaCollection/MyMediaCollection/obj
/Chapter14/MyMediaCollection/.vs
/Chapter12/Start/BlazorTasksHost/.vs
/Chapter12/Start/BlazorTasksHost/BlazorTasksHost/bin
/Chapter12/Start/BlazorTasksHost/BlazorTasksHost/obj
/Chapter12/Complete/BlazorTasksHost/BlazorTasksHost/bin
/Chapter12/Complete/BlazorTasksHost/BlazorTasksHost/obj
/Chapter12/Complete/BlazorTasksHost/.vs
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser/obj
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser (Package)/obj
/Chapter08/WebViewBrowser/WebViewBrowser.Bus/obj
/Chapter08/WebViewBrowser/WebViewBrowser.WPF/obj
/Chapter08/WebViewBrowser/WebViewBrowser.Controls/obj
/Chapter08/WebViewBrowser/.vs
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser/bin
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser (Package)/bin
/Chapter08/WebViewBrowser/WebViewBrowser/WebViewBrowser (Package)/WebViewBrowser (Package).wapproj.user
/Chapter08/WebViewBrowser/WebViewBrowser.Bus/bin
/Chapter08/WebViewBrowser/WebViewBrowser.Controls/bin
/Chapter08/WebViewBrowser/WebViewBrowser.WPF/bin
